section#about-area.single-section.about-area
    .itemFlex.justify-content-center
      .itemFlex.align-items-center
        .imageContainer
           img.img-fluid.img-thumbnail.about-img(src='assets/images/hands-woman-legs-laptop.png', alt='About Picture')
        .descrption
          .content-block
               h2.about-title About Me
               h6.about-role I am a Full-Stack Web Developer
               p.about-description
                 | My name is 
                 b Hager Saeed 
                 | A highly talented, driven and flexible Front End Developer with a proven record of delivering creative and innovative design solutions. A proven ability to Develop projects from inception through production to final delivery, ensuring that all work is effective, appropriate and delivered within agreed timescales. 
               p.about-description.last
                 | I help convert a vision and an idea into meaningful and useful products. Having a sharp eye for product evolution helps me prioritize tasks, iterate fast and deliver faster. If you're interested in working with me, don't
                 | hesitate to hire me.
               address
                 ul.list-inline.about-info
                   li.list-inline-item
                     span Name:
                     p Hager Saeed
                   li.list-inline-item
                     span Email:
                     p
                       a(href='') Hagersaeedmahmoud@gmail.com
                   li.list-inline-item.mb-0
                     span Age:
                     p 23
                   li.list-inline-item.mb-0
                     span From:
                     p cairo, Egypt
            
