footer.footer-area
  .containerfooter
    .mini-footer
      
    
      p.copyright-notice
        | Copyright © 2018, all rights reserved. Developed by 
        a(href='') Hager 
        | .
      
