header 
  .header-area.section-overlay-bg.section-fixed-bg
      .header-container 
        .align-items-center.itemFlex.justify-content-center
          .home-content.text-center
            h5.greet
              | Hello, my name is 
              b Hager
            h1.skills.cd-headline.clip
              | I'm a Front End Developer
              
            p.description
              | with extensive experience for over 2 years. My expertise is to create and design Websites, Mockups and many more...
            a.btn.button-scheme(data-scroll='', href='', role='button') Show My Resume As Pdf
      svg.wave-shape(viewBox='0 23 500 32', preserveAspectRatio='none')
        path(d='M-237.97,103.13 C201.53,-102.13 318.14,183.05 741.62,-36.02 L655.95,547.25 L-381.89,482.11 Z', stroke='none', fill='#fff')
    

                        
                    
              
