section.single-section.section-fixed-bg.section-overlay-bg.hire-area
  .containerHire
    .text-center
      .hirecontent
        h1.hire-title Let's Work Together!
        p.hire-description I am available for Any projects. Hire me and get your project done.
        a.btn.hire(href='') Hire Me
