.our-processs.page-section-ptb
  .section-title-1
    h1.text-blue My Skills
    p  Let's have a look at my skills
  .skills
    ul
      li
        .name WordPress
        .progress
          .percentage(style='width: 70%;')
            span.percent 70%
      li
        .name HTML & CSS
        .progress
          .percentage(style='width:  90%;')
            span.percent  90%
      li
        .name jQuery
        .progress
          .percentage(style='width:  75%;')
            span.percent  75%
      li
        .name Photoshop
        .progress
          .percentage(style='width: 80%;')
            span.percent 80%
