.awesome-features.bg-2.bg-opacity-white-90.white-bg.page-section-pt
  .ourcorevaluecontainer
    .ourcorevaluevcontent1
      .feature-mob
        .mob-scroll
          span.feature-mob-scroll(style="background-image: url('assets/images/ikdinner2.png');")
    .ourcorevaluevcontent2
    
      h3 MY SERVICES
      .ourcorevaluevcontent2firstrow
        .corecontent
          
          .feature5.mt-30.mb-30
            span.icon-screen-desktop(aria-hidden='true')
              i.fa.fa-html5(aria-hidden='true')
            h4 Front End
            p
              | Responsive Lorem Ipsum used since the 1500s is reproduced below for those Sections 1.10.32..
            a.readmorelink(href='#')
              | Read More 
              i.fa.fa-hand-o-right
        .corecontent
          
          .feature5.mt-30.mb-30
            span.icon-screen-desktop(aria-hidden='true')
              i.fa.fa-mobile(aria-hidden='true')
            h4 Perfect design with responsive
            p
              | Responsive Lorem Ipsum used since the 1500s is reproduced below for those Sections 1.10.32..
            a.readmorelink(href='#')
              | Read More 
              i.fa.fa-hand-o-right
        .corecontent
          
          .feature5.mt-30.mb-30
            span.icon-screen-desktop(aria-hidden='true')
              i.fa.fa-code(aria-hidden='true')
            h4 Programming
            p
              | Responsive Lorem Ipsum used since the 1500s is reproduced below for those Sections 1.10.32..
            a.readmorelink(href='#')
              | Read More 
              i.fa.fa-hand-o-right
        .corecontent
          
          .feature5.mt-30.mb-30
            span.icon-screen-desktop(aria-hidden='true')
              i.fa.fa-rocket(aria-hidden='true')
            h4 High perforamance
            p
              | Responsive Lorem Ipsum used since the 1500s is reproduced below for those Sections 1.10.32..
            a.readmorelink(href='#')
              | Read More 
              i.fa.fa-hand-o-right
