.our-processs.page-section-ptb
  .section-title-1
    h1.text-blue My Process
    .title-line
    
    p Take a general look at the process that I use when Implement new Project
  
  .our-process.proc4level
    .our-process-item
      i.fa.fa-puzzle-piece(aria-hidden='true')
      .our-process-content
        h5 1.Idea
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .our-process-item
      i.fa.fa-codepen(aria-hidden='true')
      .our-process-content
        h5 2.Planning
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .our-process-item
      i.fa.fa-cogs(aria-hidden='true')
      .our-process-content
        h5 3.Create
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .our-process-item
      i.fa.fa-rocket(aria-hidden='true')
      .our-process-content
        h5 4.Success
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit
