doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='description', content='Naseej website')
    meta(name='keywords', content='HTML,CSS,JavaScript')
    meta(name='author', content='Hager saeed')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title RESUME
    //- link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='assets/css/style.css')
    link(rel='icon', href='assets/images/user.png', type='image/x-icon')
    
    

  body
    
  
    
    include _jadefiles/_header.jade
    include _jadefiles/_aboutMe.jade
    include _jadefiles/_myskills.jade
    include _jadefiles/_process.jade
    include _jadefiles/_hireme.jade
    include _jadefiles/_mypowerful.jade
    include _jadefiles/_footer.jade
  
    
    
    
  
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min./js')
    script(src="assets/js/script.js")
  
    
  
